<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript">
		function sendData() {
			var url = '/result?text=' + $('#text').val();
			window.open(url, "_self");
		}
	</script>
</head>
<body>	
	<div class="container">
		<div class="content">
			<h1>Politeness</h1>
			<textarea id="text" form="form">Enter text here...</textarea>
			<form id="form">
				<input type="button" value="Submit" onclick="sendData()">
			</form>
		</div>
	</div>
</body>
</html>